@import "libs";
@import "variables";
@import "mixin";
@import "default";

.section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

.head-section {
    padding-top: 53px;
    height: 720px;
    min-height: 100vh;
    max-height: 800px;

    &__container {
        max-width: 540px;
        margin-left: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    &__logo-holder {
        max-width: 365px;
        margin-bottom: 30px;
        user-select: none;
    }

    .download-info {
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 55px;
    }

    .download-headline,
    .download-size {
        display: block;
    }

    .download-headline {
        font-weight: 900;
        margin-bottom: 10px;
        letter-spacing: -1px;
    }

    .download-size {
        font-size: 18px;
    }

    &__gangsters {
        position: absolute;
        right: 0; bottom: 0;
        max-width: 805px;
    }

    &__button-holder {
        padding-bottom: 75px;
    }

    .layout-center {
        height: 100%;
    }
}

.relative {
    position: relative;
}

.section-about {
    color: #ffffff;
    padding-top: 560px;
    text-align: center;

    &__title {
        font-weight: bold;
        font-size: 26px;
    }

    &__info {
        margin-bottom: 50px;
        padding: 0px 40px;
    }

    &__text {
        text-align: justify;
        line-height: 1.3;
    }

    &__button-holder {
        padding-bottom: 75px;
    }
}

.second-section-about {
    color: #ffffff;
    
    &__title {
        margin-bottom: 30px;
        font-size: 31px;
        line-height: 1.4;
        letter-spacing: 2px
    }

    &__text {
        margin-bottom: 85px;
        font-weight: 300;
        line-height: 1.3;
    }

    &__container {
        margin-left: auto;
        max-width: 620px;
        padding: 60px 45px 100px;
        background-color: rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 10;
    }

    &__gangsters {
        position: absolute;
        left: -80px; bottom: 0;
        max-width: 575px;
    }
}

.feedback-section {
    padding-top: 40px;

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 90px;
    }

    &__container {
        max-width: 450px;
        margin-left: 60px;
    }

    &__comment-author {
        font-size: 24px;
        font-weight: bold;
        padding-left: 44px;
    }

    &__logo-holder {
        text-align: center;
        user-select: none;
    }

    &__logo-box {
        max-width: 175px;
        display: inline-block;
        transform: translateY(50%);
    }

    .comment {
        max-width: 356px;
        min-height: 287px;
        padding: 60px 50px 80px 35px;
        background-image: url('../images/comment.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        position: relative;

        &:before {
            content: '';
            width: 94px;
            height: 62px;
            background-image: url('../images/quotes.png');
            position: absolute;
            top: -23px; left: 37px;
        }

        &__inner {
            height: 145px;
            overflow: auto;
        }

        &__text {
            line-height: 1.15;
            font-size: 16px;
            text-align: justify;
            margin-bottom: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__carousel-item {
        padding-top: 25px;
    }
}

.footer {
    padding-top: 155px;
    text-align: center;

    &__container {
        max-width: 690px;
        display: inline-block;
        padding-bottom: 60px;
    }

    &__feedback-text {
        margin-bottom: 20px;
        line-height: 1.34;
    }

    &__feedback-email {
        font-weight: bold;

        color: #000000;

        a { 
            color: #000000;

            &:hover {
                color: #000000;
                text-decoration: none;
            }
        }
    }
}

.controls-holder {
    position: relative;

    .controls {
        .next,
        .prev {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 130px;
            cursor: pointer;
            z-index: 20;
        }

        .prev {
            background-image: url('../images/left-arrow.png');
            left: -50px;
        }

        .next {
            background-image: url('../images/right-arrow.png');
            right: 50px;
        }
    }
}
